.component-title-homepage + .divider-homepage {
margin-top: -150px;
}

.component-title-homepage {
justify-content: center;
align-items:start;
align-self: stretch;
padding: 16px;
margin-bottom: 100px;
margin-left: 20px;
margin-right: 20px;
font-size: 6xl;
white-space: nowrap;
border-radius: 10px;
background-color: rgba(240, 235, 216, 0.5);
}

.enter-box-homepage > input {
justify-content: center;
align-items:center;
padding: 10px 0px;
max-width: 100%;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
width: 500px;
font-size: calc(10px + 2vmin);
width: 200px;
}

.divider-homepage {
display: flex;
}

.divider-homepage > * {
margin-top: 100px;
}

.element-homepage {
flex: 1;
padding: 10px;
margin-right: 10px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.enter-box-homepage {
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
width:fit-content;
margin-bottom: 100px;
margin-left: 20px;
margin-right: 20px;
font-size: 6xl;
white-space: nowrap;
border-radius: 10px;
background-color: rgba(240, 235, 216, 0.5);
}

.enter-box-homepage > input {
justify-content: center;
align-items:center;
padding: 10px 0px;
max-width: 100%;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
width: 500px;
font-size: calc(10px + 2vmin);
width: 200px;
}

.element-homepage > button {
margin-top: 10px;
width: 150px;
justify-content: center;
align-items: center;
white-space: nowrap;
width: 300px;
padding: 10px 0px;
background-color: #E1C86D;
border-radius: 10px;
font-size: calc(10px + 2vmin);
cursor:pointer;
font-weight: bold;
}
