.lecture-list {
    background-color: rgba(240, 235, 216, 0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
    border-radius: 8px;
}

.lecture-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid transparent;
    text-align: left;
    margin-bottom: 8px;
    border-radius: 8px;
}

.lecture-item:last-child {
    margin-bottom: 0;
}

.lecture-item:hover {
    background-color: #f0f0f0;
}

.lecture-item.selected {
    background-color: #E1C86D;
}